.sidebar--container {
  flex: 0.3;
  padding: 30px;

  /* width: 258px; */
  flex-shrink: 0;
}
@media (min-height: 960px) {
  .sidebar--container {
    width: 258px;
  }
}
.sidebar--header {
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 30px;
  color: #053305;
  padding-left: 20px;
  cursor: pointer;
}
